.app-container {
  display: grid;
  justify-content: center;
}
.app-container > img {
  position: relative;
  margin: 0 auto;
  margin-bottom: -2rem;
}
.app-container__content > form > .ui.input {
  width: 80%;
}
.ui.container.results-container,
.ui.container.details-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-table {
  max-width: 50%;
}
.details-table {
  max-width: 50%;
}
.ui.button.results-button {
  display: grid;
  justify-content: center;
  margin: 5% 40% 0 40%;
}
